<div class="container-fluid">
	<div class="row text-center">
		<div class="col-sm-12 jumbotron">
			<br>
			<br>
			<br>
			<img src="../images/anne2.jpg" alt="Image of Connie Oden" class="img-responsive center-block img-rounded">
			<br>
			<h3>Anne Shaw, <em>MSW, LCSW, PIP, CIRT</em></h3>
			<h6>Master's in Social Work, Licensed Certified Social Worker,<br>Private Independent Practitioner, Certified IMAGO Relationship Therapist</h6>
		</div>
		<div class="container left">
			<br>
			<br>Greetings. With 20 years experience as a therapist, I am finding that our greatest suffering often has its deepest roots
			in past and present relationships. From our earliest caregivers to our adult love relationships we seek safety, intimacy
			and wholeness but often have been met with criticism, shame and loneliness. I work with individuals as well as with couples
			to address these struggles.
			<br>
			<br>My approach with couples as a Certified Imago Relationship Therapist is based on the theory developed by Harville Hendrix,
			Ph.D., an internationally known author of the best-selling Getting the Love You Want: A Guide for Couples and Keeping
			the Love You Find: A Guide for Singles. Have you begun to wonder what happened to that “oneness” you felt when you fell
			in love with your partner? Do you feel like your partner has changed and doesn’t seem to care if s/he makes you happy
			any more? Are you in a power struggle? Would you like to reconnect with your partner and recommit to healing and growth
			as a couple?
			<br>
			<br>My approach with individuals varies depending on their reason for seeking assistance. For example, sometimes we may need
			to address early childhood emotional wounds with a focus on healing. Or, when life-matters have become overwhelming we
			work to restore balance. The loss of a relationship or a job can be life-shattering and I help you to put the pieces back
			together. I also assist clients seeking personal growth, as well as those needing assistance with depression or anxiety.
			I would welcome a call from you to discuss how we can improve your life! Anne W. Shaw, MSW, LCSW, PIP, CIRT
			<br>
			<br><h4><strong>205.541.4801</strong>
			<br>
			<br>
			<a href="mailto:Shaw7300@bellsouth.net?subject=Interest from lifesource.com">Shaw7300@bellsouth.net</a></h4>
			<br>
			<br>
			<br>
		</div>
	</div>
</div>