<div class="container-fluid">
	<div class="row text-center">
		<div class="col-sm-12 jumbotron">
			<br>
			<br>
			<br>
			<img src="../images/connieTemp2.jpg" alt="Image of Connie Oden" class="img-responsive center-block img-rounded">
			<br>
			<h3>Connie Oden, <em>MSW, LCSW, PIP</em></h3>
			<h6>Master's in Social Work, Licensed Certified Social Worker, Private Independent Practitioner</h6>
		</div>
		<div class="container left">
			<br>
			<br>Welcome to LifeSource. I teach people how to live a more peaceful life. I have enjoyed watching people recover from anxiety,
			panic and mood disorders as they learn the skills necessary for healing. I teach people how to get rid of excessive worry
			and unnecessary stress. Learning how to be free from the symptoms associated with anxiety and depression help pave the
			way for the next steps involved in recovery.
			<br>
			<br>My goal is to assist the client in finding the strength and resources inside to cope with anxiety or depression. Many
			years of experience as a nurse and therapist has strengthened my commitment to helping others overcome challenges that
			prevent us from attaining stability and joy. Often past trauma must be revisited to release painful feelings of inadequacy.
			<br>
			<br>I am convinced that today’s frantic pace often leaves us devoid of the energy and love we need to take care of ourselves
			and others. Often growth begins when we learn to set boundaries that allow us the space and silence to hear the beckoning
			of our own intuition and knowing. Listening is very important, especially to our heart.
			<br>
			<br>In addition to individual therapy I offer 'Mindfulness-Based Cognitive Therapy' groups that many have found to be life
			changing. Please click on 'Group Experiences' on the left to get more information about this incredible opportunity for
			growth.
			<br>
			<br>My phone number is <strong>205-492-1986</strong> or email me at <a href="mailto:connieemma@gmail.com?subject=Interest from lifesource.com">connieemma@gmail.com.</a> I look forward to your contact.﻿ I offer a sliding
			scale based on income if you do not have insurance or if I am not covered under your insurance. If you are interested
			in this ask when you call or email. I look forward to hearing from you.
			<br>
			<br>
			<br>
		</div>
	</div>
</div>