<br>
<br>
<div class="jumbotron center">
	<h3>Directions to Lifesource Office</h3>
	<p>1037 22nd Street South Birmingham, AL 35205</p>
</div>
<div class="lead">
	<h3>From Shelby County</h3>
	<p>I-65 North Take the University Blvd. Exit
		<br>Turn right onto University Blvd (Same as 8th Avenue South)
		<br>Turn right onto 22nd Street South
		<br>Our office is on the left at 1037 - A 2-story brick building with a green awning
	</p>
	<h3>From Tuscaloosa</h3>
	<p>Merge onto I-20 East / I-59 North towards Birmingham
		<br>Merge onto US 280 East / US 31 South / Elton B Stephens Expressway
		<br>Take the exit toward 8th Avenue South
		<br>Turn Right onto University Blvd (Same as 8th Avenue South)
		<br>Turn Left onto 22nd Street South
		<br>Our office is on the left at 1037 - A 2-story brick building with a green awning
	</p>
	<h3>From Irondale / East Birmingham</h3>
	<p>Merge onto I-20 West toward Birmingham
		<br>Merge onto US 280 East / US 31 South / Elton B Stephens Expressway
		<br>Take the exit towards 8th Avenue South
		<br>Turn Right onto University Blvd (Same as 8th Avenue South)
		<br>Turn Left onto 22nd Street South
		<br>Our office is on the left at 1037 - A 2-story brick building with a green awning
	</p>
	<h3>From Cullman and North Birmingham</h3>
	<p>Merge onto I-65 South
		<br>Merge onto US I-20 East / I-59 North Exit 261-A on the Left toward Gadsden/Atlanta
		<br>Merge onto US 280 East / US 31 South / Elton B Stephens Expressway
		<br>Take the exit towards 8th Avenue South
		<br>Turn Right onto University Blvd (Same as 8th Avenue South)
		<br>Turn Left onto 22nd Street South
		<br>Our office is on the left at 1037 - A 2-story brick building with a green awning
	</p>
</div>
<div class="map">
	<iframe src="https://maps.google.com/maps?hl=en&q=Lifesource, 22nd Street South, Birmingham, AL&ie=UTF8&t=satellite&z=15&iwloc=B&output=embed">
		<div><small><a href="http://embedgooglemaps.com">embedgooglemaps.com</a></small></div>
		<div><small><a href="http://buyproxies.io/">shared proxies</a></small></div>
	</iframe>
</div>
<br>




<!--scrolling="no" marginheight="0" marginwidth="0" width="640" height="443" -->