<br>
<br>
<div class="jumbotron center">
	<h2>Financial Information</h2>
</div>
<div class="lead">
	<br>
	<h3>FEES</h3>
	<p>Unless contracted with your insurance carrier to provide services for a particular rate, fees are as follows:</p>
	<h3>PSYCHOTHERAPY</h3>
	<h4>INDIVIDUALS (45-60 MINUTE SESSIONS):</h4>
	<p>Initial session/assessment: $140.00
		<br>All following sessions: $100.00
		<h3>IMAGO RELATIONSHIP THERAPY</h3>
		<p>Initial (1-hour) session/assessment: $140.00
			<br>All following sessions: $100.00</p>
		<h3>MINDFULNESS-BASED COGNITIVE THERAPY</h3>
		<p>$425.00 total for 8 (2-hour) sessions due prior to the first meeting.</p>
		<hr>
		<h2><em><strong>About Insurance</strong></em></h2>
		<p>Our staff members are providers for most Blue Cross/Blue Shield & other insurance policies, but there are a few exceptions.
			You will need to call the phone number on the back of your insurance card for verification & required co-pay.
		</p>
</div>
<br>