<br>
<br>
<br>
<div class="lead">
	<div class="jumbotron center">
		<h2>Financial Information</h2>
	</div>
	<h4><em>Blue Cross/Managed Care - See Below</em></h4>
	<br>
	<h3>FEES</h3>
	<p>Unless contracted with your insurance carrier to provide services for a particular rate, fees are as follows:</p>
	<h3>PSYCHOTHERAPY</h3>
	<h4>INDIVIDUALS (50 MINUTE SESSIONS)</h4>
	<p>Initial session/assessment: $125.00
		<br>All following sessions: $100.00 GROUPS (2 HOUR SESSIONS)
		<br>All meetings: $50.00</p>
	<h3>IMAGO RELATIONSHIP THERAPY</h3>
	<p>Initial session/assessment: $125.00 All following sessions: $100.00</p>
	<h3>MINDFULNESS-BASED COGNITIVE THERAPY</h3>
	<p>425.00 total for all 8 sessions due on the first meeting.</p>
	<hr class="hr">
	<h3>Blue Cross</h3>
	<p>Blue Cross/Blue Shield – You should be aware that some Blue Cross/Blue Shield policies require that you see a MD or PhD.
		If you have the EPS writer (Extended Psychiatric Service) you will need to call Alabama Psychiatric Service (APS). You
		can call the number on your card and ask if our staff is a covered provider for your particular policy.</p>
	<h3>About Managed Care</h3>
	<p>If you are covered by another insurance company you might have to call the insurance company to get pre-certification. They
		will often give you a certification number . You will need to write down this number and bring it to your first session.
		The insurance company can tell you what your co-pay is and how many sessions are certified.</p>
</div>
<br>