<br>
<br>
<div class="jumbotron center">
	<h2>Required Forms</h2>
</div>
<div class="lead center">
	<h4><em>Click on individual forms below to open as a PDF in a new window</em></h4>
	<br>
	<a href="http://lifesource.altervista.org/forms/LifeSourceClientInfo.pdf" target="_blank">Client Information</a>
	<br>
	<br>
	<a href="http://lifesource.altervista.org/forms/LifeSourcePaymentOfFees.pdf" target="_blank">Payment of Fees</a>
	<br>
	<br>
	<a href="http://lifesource.altervista.org/forms/LifeSourceTreatmentContract.pdf" target="_blank">Treatment Contract</a>
	<br>
	<br>
	<a href="http://lifesource.altervista.org/forms/LifeSourcePrivacyNotice.pdf" target="_blank">Privacy Notice</a>
	<br>
	<br>
	<br>
</div>