<br>
<br>
<br>
<div class="jumbotron center">
	<h2>Required Forms</h2>
</div>
<div class="lead">
	<h4>Click on forms below to open as a PDF in a new window</h4>
	<br>
	<a href="http://lifesourcebirmingham.com/LifeSourceClientInfo.pdf" target="_blank">Client Information</a>
	<br>
	<br>
	<a href="http://lifesourcebirmingham.com/LifeSourcePaymentOfFees.pdf" target="_blank">Payment of Fees</a>
	<br>
	<br>
	<a href="http://lifesourcebirmingham.com/LifeSourceTreatmentContract.pdf" target="_blank">Treatment Contract</a>
	<br>
	<br>
	<a href="http://lifesourcebirmingham.com/LifeSourcePrivacyNotice.pdf" target="_blank">Privacy Notice</a>
	<br>
	<br>
</div>