<br>
<br>
<br>
<!--<h3 class="jumbotron center">What is Imago Relationship Therapy?</h3>-->
<div class="jumbotron center">
<div><img src="../images/imagologo.gif" alt="Imago Logo" class="img-responsive center-block"></div>
<h2>Imago Relationship Therapy</h2>
</div>
<br>
<div class="lead">
	<p>We each have a unique history and therefore grow up to live in a world of our own. Without realizing we're doing it, we
		get attracted to (and attract) another person based on patterns we might not be aware of from childhood. At first, it's
		perfect. Then it's far from it.
		<br>
		<br> Imago Relationship Therapy is the process of each person learning how to be the perfect partner for one another. Instead
		of the differences causing problems in the relationship, they can be acknowledged and even honored in a way that brings
		a couple intimacy instead of conflict. Since none of our personal worlds are alike, we can learn to share and explore the
		differences rather than fight about them.
		<br>
		<br> Because my childhood was different than yours, I interpret your interactions with me differently than you might mean them.
		If you know more about my 'injuries" and "differences", you will better make sense of my responses to you. Actually, I
		picked you because you have a mixture of the positive and negative characteristics of the primary caretakers from my childhood.
		I have some unfinished business from the past and I need you to help me heal. And to complicate matters further, this holds
		true for you too.
		<br>
		<br> When we interact, sometimes these injuries are triggered and I don't feel safe with you. When I don't feel safe, I will
		flight, flee, freeze or submit as a defense system that originates in the limbic system of the brain. I'm not very happy
		in one of these states, and you probably won't enjoy me much when I'm there. But if you know my world and my responses
		to danger in it, then you can learn how to help me feel safer. When I feel safe, I will play, cooperate, mate and create
		with you. We both like this better! And I can do the same for you.
		<br>
		<br> Being aware of ourselves and what is happening in our relationship changes everything. The initial bliss of <em>Romantic Love</em> 
		phase of the relationship and the onset of conflict are inevitable. It is a sign that the psyche is trying to survive,
		to get it's needs met and move toward restoration. Conflict provides the opportunity to become aware of what we need to
		do to assist each other with feeling safe. Because remember, this is where our relationship offers up happiness.
		<br>
		<br> Using the Imago Practice we learn to communicate about our difficult issues so that we can avoid getting stuck on them.
		I need you to hear what it's like in my world. I need it to make sense to you, even if you don't agree with me. And if
		you will do this, I'm confident you will feel some empathy for me, which will draw us closer together. In turn, I will
		be more open to hearing about your world and we will quit struggling with who's "right". The process leads us to respecting
		our
		<em>differentness</em> and learning how to repair the rupture in our intimacy.
		<br>
		<br> As an Imago therapist, I provide a safe structure for a couple to address the interactions that feel dangerous to our
		psyches. Instead of triggering a sense of danger which causes us to be reactive and volatile, we learn to be intentional
		in our communication so we can move toward one another by providing a safe connection for sharing vulnerabilities. This
		will require some change on our part. This change is the catalyst for healing, growth, lasting and immensely satisfying
		love.
	</p>
	<br>
	<h3>Some suggested reading on Imago:</h3>
	<br><em><strong>Getting the Love you Want: A Guide for Couples</strong></em>
	<br>
	<em><strong>Keeping the Love You Find: A Guide for Singles</strong></em>
	<br>both by Harvilee Hendrix, PhD and Hellen LaKelly Hunt, PhD who are the founders of Imago.
	<br>
	<br> A suggested web site: <a a href="http://www.imagorelationships.org" target="_blank">imagorelationships.org.</a> Be sure
	to look into the weekend workshops for couples and singles.
	<br>
	<br><em>Anne W. Shaw, MSW, LCSW, PIP, BCD has 20 years experience as a therapist and is a Certified Imago Therapist.</em>
	<br>Email her at <a href="mailto:Shaw7300@bellsouth.net?subject=Interest in Imago">Shaw7300@bellsouth.net</a> or call her at
	<strong>205.541.4801</strong> for more information.
	</p>
</div>