<div class="container-fluid">
    <img src="../images/green-forest.jpg" alt="Green forest with trees" class="img-responsive">
    <h1>LifeSource</h1>
    <br />
</div>
<div class="lead text-center jumbotron">
    <br>
    <p>Welcome to <strong>LifeSource</strong>!
        <br>
        <br>We provide <strong><em>individual</em></strong> or <strong><em>couples</strong></em> therapy
        <br> along with
        <br> <em>"Mindfulness-Based Cognitive Therapy"</em> groups.</p>
    <br>
</div>
<div class="container-fluid">
    <div class="row text-center lower-three">
        <div class="col-md-4">
            <a href="#connie">
                <img src="../images/connie.jpg" alt="Image of Connie Oden" class="img-responsive center-block img-rounded">
                <br>
                <h4>Connie Oden, LCSW</h4>
                <p class="btn btn-primary" role="button">Learn More</p>
        </div>
        <div class="col-md-4">
            <a href="#anne">
                <img src="../images/anne.jpg" alt="Image of Anne Shaw" class="img-responsive center-block img-rounded">
                <br>
                <h4>Anne Shaw, LCSW</h4>
                <p class="btn btn-primary" role="button">Learn More</p>
        </div>
        <div class="col-md-4">
            <a href="#muriel">
                <img src="../images/muriel.jpg" alt="Image of Muriel Thompson" class="img-responsive center-block img-rounded">
                <br>
                <h4>Muriel Thompson, LCSW</h4>
                <p class="btn btn-primary" role="button">Learn More</p>
        </div>
    </div>
</div>