<br>
<br>
<div class="jumbotron center">
	<h2>Mindfulness-Based Cognitive Therapy (MBCT)</h2>
	<!--<h3><em>Next group starts Monday, January 18, 2016 at 6PM</em></h3>-->
</div>
<div class="lead">
	<p>
		This is an approach to treatment to teach you how to find relief from anxiety and depression and enrich your life. This is
		an opportunity to embrace lasting change. If you are tired of getting depressed yet again and tired of struggling with
		anxiety I suggest you call to find out more.
		<br>
		<br> Mindfulness-Based Cognitive Therapy is taught in a group format that meets one time per week for 8 weeks. It is designed
		to train you in the skills of mindfulness in combination with cognitive therapy. This approach to healing is based on the
		research of Zindel Segal, Mark Williams and John Teasdale. All three are expert researchers in the field of depression.
		They were asked by the MacArthur Foundation to develop an effective treatment for recurrent depression. One of the problems
		in depression is that the symptoms tend to return. The researchers found that in order to help clients prevent relapse
		an attentional component needed to be added in treatment.
		<br>
		<br> This attentional component is needed to help ‘catch’ dangerous thought patterns before depressive cycles spiral downward.
		The research has repeatedly show substantial symptom reduction in depression and anxiety disorders. The group provides
		the opportunity to move beyond habitual ways of experiencing the world to a way of being that reduces anxiety and improves
		self-knowledge and acceptance.
		<br>
	</p>
	<h3>You will learn:</h3>
	<li>Skills to improve awareness of feedback loops between the body and thoughts</li>
	<li>Mindfulness skills for use at work or during stressful moments</li>
	<li> Learn typical thinking patterns in depression and skills for how to prevent</li>
	<li>Coping skills to help you tell the difference between thoughts and facts</li>
	<li>Ways to control anxiety that aide in more assertive communication</li>
	<li>And so much more...</li>
	<h3>Comments from participants:</h3> “It slowed me down which resulted in improved relationships. It encouraged me to sit with my feelings instead of “getting
	busy” to avoid or escape them.”
	<br>
	<br>“As a Christian, it helped me in my personal relationship with God by helping me to be still and focus more on being, not
	doing which is often my focus.”
	<br>
	<br>“I was excited when Connie began to offer mindfulness meditation as an alternative healing path for depression. There is
	a gentle reining in of the run on dialogues and thoughts. Also, the program is very respectful of individual needs and readiness,
	which I think is inherent in the practice, but not always conveyed as well as Connie does. Thank you Connie, I’ve been looking
	for this for a long time!”
	<br>
	<br>"As a social worker, this group taught me the benefits of meditation and mindfulness for the treatment of depression that
	will help in working with my clients. As a person, this group gave me the tools and skills to begin practicing mindfulness
	in my everyday life."
	<br>
	<br>“Your training changed my life. It helped me get through the most difficult period of my life. You were right, once I let
	go, I found happiness and a new life. I found an incredible job in my field, and yes, found real love. I still meditate
	every day, and use those breathing spaces regularly to come to peace with life's speed bumps. I can’t thank you enough.”
	<br>
	<br>“No anxiety/panic attacks in 6 weeks, less dependency on others, more willing and capable of speaking my needs clearly and
	without fear, less reactive, able to observe my own thoughts and emotions without automatically reacting, my house is cleaner.”
	<br>“Clarity and calmness, it was renewing and strengthening.”
	<br>
	<h3>About the Presenter</h3><em>Connie Oden, RN, LCSW,PIP</em>
	<br> I have been in private practice since 2000. Many years of experience in various levels of care has led me to believe that
	it is possible to change and grow when we practice mindfulness daily. My love for meditation and group therapy combined
	to create the passion I have for the MBCT groups. In February 2011 I had the opportunity to attend the MBCT training with
	Dr. Zindel Segal, author of the text, Mindfulness-Based Cognitive Therapy for Depression. The principles have allowed me
	the opportunity to help many find stability and peace.
	<br>
	<h3><strong>Please call at 205-492-1986 or email connieemma@gmail.com.</strong></h3>
	<br><em>20 CEU’s for social workers are provided. LPC’s can also apply for CEU’s.</em>
	<h3>Dates and Time</h3> - Groups run throughout the year and are offered on Monday night and Wednesday morning. If there are a number of people
	that can attend day classes I will consider doing a group during the day. Typically the group begins at 6PM and ends at
	8:30 PM to accommodate people who work. <strong>Please call if you are interested as space is limited.  Call to set up an interview prior to the group start date.  I will complete an assessment and answer any questions you might have about the group.  I look forward to meeting you!</strong>
	<h3>Price</h3> - The price is $425.00 for the entire course and payment is due at the first meeting. I will discuss payment arrangements
	if needed.
	<br>Please call to find out more. Obtain the skills you need to regain your joy.
	</p>
</div>
<br>