<div class="container-fluid">
	<div class="row text-center">
		<div class="col-sm-12 jumbotron">
			<br>
			<br>
			<br>
			<img src="../images/muriel2.jpg" alt="Image of Muriel Thompson" class="img-responsive center-block img-rounded">
			<br>
			<h3>Muriel Thompson, <em>MSW, LCSW, PIP</em></h3>
			<h6>Master's in Social Work, Licensed Certified Social Worker, Private Independent Practitioner</h6>
		</div>
		<div class="container left">
			<p><strong>Welcome!</strong>
				<br>
				<br>I am so glad you are exploring the option of therapy! I believe strongly in the healing process of therapy. Often I hear
				from my clients and others that therapy is the best choice they’ve ever made for themselves.
				<br>
				<br>I practice in a small, nurturing environment. I work with individuals and couples who come for a large variety of reasons.
				Some are facing intense life losses or changes. Others are dealing with overwhelming pain or unexpected challenges. I
				also have clients who come for personal growth and redefining their life goals. Many come for the first time not knowing
				the source of their unease or pain, so we explore together.
				<br>
				<br>My philosophy is to work together with clients to lessen their pain. So if you are feeling hopeless that anything will
				help, please call and we'll work together.
				<br>
				<br>I am a clinical social worker and I am on most insurance panels.
				<br>
				<br>I would be glad to hear from you and I can be reached at <strong>205-542-1438</strong>.</p>
			<br>
			<br>
		</div>
	</div>
</div>